/* HeroDetailComponent's private CSS styles */
//label {
//  color: #435960;
//  font-weight: bold;
//}
//input {
//  font-size: 1em;
//  padding: .5rem;
//}
//button {
//  margin-top: 20px;
//  background-color: #eee;
//  padding: 1rem;
//  border-radius: 4px;
//  font-size: 1rem;
//}
//button:hover {
//  background-color: #cfd8dc;
//}
//button:disabled {
//  background-color: #eee;
//  color: #ccc;
//  cursor: auto;
//}

.hero-detail-container {
 margin-top: 20px;
}
.hero-detail-body {
  margin-top: 20px;
}

.hero-detail-footer {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  button {
    padding: 0 32px;
    margin: 0 16px 0 0;
  }
}
.hero-detail-form {
  margin-top: 20px;
  min-width: 50%;
  width: 100%;

}
.hero-detail-field {
  width: 50%;
}

.details-overlay {
  z-index: 100;
  position: absolute;
  bottom: 25%;
  right: 10%;
  font-size: 4em;
  color: white;
}

