<div class="video-container">
  <video
    id="video-id"
    width="75%"
    poster="{{ videoPoster }}"
    data-setup='{ aspectRatio:"16:9", playbackRates: [1, 1.5, 2] }'
    controls
    (click)="toggleVideo()"
    #videoPlayer
  >
    <source src="{{ videoSource }}" type="video/mp4" />
    Browser not supported
  </video>
  <div class="video-text fix-to-bottom">
    {{ description }}

    <div class="menu-flex-box mt-2">
      <button mat-fab color="primary" (click)="skip(-10)">
        <mat-icon>replay_10</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="skip(10)">
        <mat-icon>forward_10 </mat-icon>
      </button>
    </div>
  </div>
</div>
