.heroes-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.heroes-container {
  display: flex;
  align-content: space-between;
  align-items: center;
  //flex-direction: row;
  //flex-wrap: wrap;
}

.heroes-card {
  min-width: 180px;
  max-width: 360px;
  margin: 4px;
}

.heroes-card-image {
  border-bottom: 4px solid red;
}

.avatar-image {
  object-fit: cover;
}

