/* HeroesComponent's private CSS styles */

.heroes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.heroes-card {
  width: 120px;
  margin: 8px;
}

.heroes-card-body {
  min-height: 220px;
}
