<div class="menu-flex-box mt-2">
  <h2>List of Heroes</h2>
  <div>
    <mat-form-field>
      <mat-label>New Hero</mat-label>
      <input matInput id="new-hero" #heroName />
      <mat-icon matSuffix>add</mat-icon>
      <mat-hint>Start typing Hero name</mat-hint>
    </mat-form-field>
    <span class="ml-2">
      <button
        mat-raised-button
        color="primary"
        (click)="add(heroName.value); heroName.value = ''"
      >
        Add hero
      </button>
    </span>
  </div>
  <app-hero-search></app-hero-search>
</div>

<div class="heroes-container">
  <div
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <mat-card class="heroes-card">
      <div class="heroes-card-body">
        <img
          class="heroes-card-image"
          mat-card-image
          src="/assets/{{ hero.image }}"
          alt="Photo of hero"
        />
        <mat-card-content>
          <mat-card-title>{{ hero.name }}</mat-card-title>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-icon-button title="delete hero" (click)="delete(hero)">
          <mat-icon color="primary" aria-label="Side nav toggle icon"
            >delete
          </mat-icon>
        </button>
        <a class="ml-1" routerLink="/detail/{{ hero.id }}"> DETAILS </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
