<!--<ul class="heroes">-->
<!--  <li-->
<!--    *ngFor="let hero of heroes"-->
<!--    [class.selected]="hero === selectedHero"-->
<!--    (click)="onSelect(hero)"-->
<!--  >-->
<!--    <a routerLink="/detail/{{ hero.id }}">-->
<!--      <span class="badge">{{ hero.id }}</span> {{ hero.name }}-->
<!--    </a>-->
<!--    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>-->
<!--  </li>-->
<!--</ul>-->

<h1 class="mt-3">List of Heroes</h1>
<div class="heroes-container">
  <div
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <mat-card class="heroes-card">
      <div class="heroes-card-body">
        <img
          mat-card-image
          src="/assets/{{ hero.image }}"
          alt="Photo of hero"
        />
        <mat-card-content>
          <mat-card-title>{{ hero.name }}</mat-card-title>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-icon-button title="delete hero" (click)="delete(hero)">
          <mat-icon color="primary" aria-label="Side nav toggle icon"
            >delete</mat-icon
          >
        </button>
        <a class="ml-1" routerLink="/detail/{{ hero.id }}"> DETAILS </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <h2>Add a Hero</h2>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>
